.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    height: 64px;
    padding: 0 16px;
}

.logo-container {
    flex: 0 0 auto;
}

.logo {
    width: 36px;
    height: 36px;
}

.user-container {
    display: flex;
    align-items: center;
}

.user-icon {
    width: 36px;
    height: 36px;
    margin-right: 8px;
}

.username {
    font-size: 18px;
    color: turquoise;
}