.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;

    button {
        padding: 0.5rem 1rem;
        margin: 0 0.5rem;
        border: none;
        background-color: transparent;
        font-size: 1.2rem;
        font-weight: bold;
        cursor: pointer;
        transition: all 0.2s ease-in-out;

        &:hover,
        &.active {
            color: #1abc9c;
            border-bottom: 2px solid #1abc9c;
        }
    }
}